<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Bloco de notas</h1>
<ul>
    <li><a href="/">inicio</a></li>
    <li><a href="/notas">Notas</a></li>

</ul>
<form action="/notas" method="post">
    <input type="text" name="anotacao" id="">
    <input type="submit" value="👌">
</form>
<ul>
    <li>
    
        {% for item in iterable %}
    
        {% endfor %}
    </li>
</ul>
</body>
</html>